html,body{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;

}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}


input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
   
}

body{
    /*background-image: url(../images/image.jpg);
    background-size: 100%;*/
    background-color: #D4D2D3;

}

html { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }   
button{       
    font-family: 'Kaushan Script', cursive;
}
main{
    height:100%;
    background-color:#DADDEA;
}
button:focus 
{
    outline:0 !important;
}
/*Obrisati za vracanje na staro*/

#header-container{
    width:100%;
    position:static;
    z-index: 9999;
}
#header-ccontainer{
    width:100%;
    height:100%;
}



#nav-list-items {
    list-style: none;
    width:100%;
    background-color: #415E6C;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    font-size: 1.2em;
    line-height: 30px;
    width:100%;
    height: 30px;
    font-family: 'Kaushan Script', cursive;
}

nav a {
    text-decoration: none;
    color: #fff;
    width:100%;
    display: inline-block;
    transition: .3s background-color;
}

nav a:hover {
    background-color: #7A8E98;
}

.active {
    background-color: #fff;
    color: #415E6C;
    cursor: default;
}

.inactive{
    background-color:#415E6C;
    color:#fff;
    cursor:default;
}


.nav-title-container{
    background-color: #415E6C;
    text-align:center;
    height:70px;
}

.nav-title{
    margin:0 auto;
    text-align: center;
    position:relative;
    vertical-align:middle;
    top:15px;
    padding-top:10px;
    padding-bottom:10px;
    color:#fff;
    font-size:30px;
    letter-spacing: 10px;
    font-family: 'Kaushan Script', cursive;
    display:inline;
}



.button-login{
    border: 1px solid #32AD32;
    color: #fff;
    background: #009900;
    border-radius: 3px;
}

.button-login:hover{
    background: #fff;
    color:#009900;
}

.button-login-mobile{
    border: 1px solid #32AD32;
    color: #fff;
    background: #009900;
    border-radius: 3px;


}

.button-login-mobile:hover{
    background: #fff;
    color:#009900;
}


.button-signin{
    border: 1px solid #E9A72F;
    color: #fff;
    background: #E59400;
    border-radius: 3px;
}

.button-signin:hover{
    background: #fff;
    color:#E59400
}

.button-signin-mobile{
    border: 1px solid #E9A72F;
    color: #fff;
    background: #E59400;
    border-radius: 3px;

}

.button-signin-mobile:hover{
    background: #fff;
    color:#E59400
}

.button-logout{
    border: 1px solid #B20000;
    color: #fff;
    background: #A00000;
    border-radius: 3px;
}

.button-logout:hover{
    background: #fff;
    color:#A00000
}

.button-logout-mobile{
    border: 1px solid #B20000;
    color: #fff;
    background: #A00000;
    border-radius: 3px;
}

.button-logout-mobile:hover{
    background: #fff;
    color:#A00000
}


#expand-collpase-button{
    position: relative;
    left:10px;
    top:8px;
    background-color:#415E6C;
    border:none;
    float:left;
    padding:0;
    margin:0;
    width:70px;
    height:50px;
    border: none;
    outline:none;
    outline-style: none;

}

button::-moz-focus-inner {
    border: 0;
}

#expand-collpase-button:hover{
    background-color:#7A8E98;
}

figure {
    margin:0;
    padding:0;
}
#expand-collapse-picture{
    width:21px; 
    height:21px;
}

button > * {
    vertical-align: middle;
}


/*-----------------------------------------Registration notification--------------------------*/
.notification{
    margin:0 auto;
    width: 600px;
    height:400px;
    padding:30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:5px 5px 5px #999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-notification{
    font-size:22px;
    text-align: center;
}


.g-recaptcha{
    margin-bottom:30px;
    width:100%;
}



/*-------------------------------------------------------Registration-----------------------------------------------------*/




h1 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #2A3129;
    margin: 0;
    padding-bottom: 8px;
}

.registration {
    margin:0 auto;
    width: 500px;
    height: 670px;
    padding-bottom: 30px;
    padding-top:30px;
    padding-left:70px;
    padding-right:70px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:5px 5px 5px #999;
}

.registration label {
    display: block;
    font: 16px 'Roboto Condensed', sans-serif;
    padding: 4px 0.25em;
}

.registration input {
    width: 100%;
    height: 40px;
    padding: 4px 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #2F98D4;
    border-radius: 2px;
    background-color:#fff;


}

.registration input:hover {
    color: #2F98D4;
}

.registration input:focus {
    outline: none;
}

.registration p {
    text-align: center;
    font: 14px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgba(24,141,208,0.8);

}

.left {
    float: left;
    width: 45%;
}

.right {
    float: right;
    width: 45%
}

.both {
    clear: both;

}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(185,185,185,1), rgba(255,255,255,0.1));

}

p.agree {
    float: left;
    width: 45%;
    margin-left:5px;
    margin-top:10px;
    font: 12px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    padding: 5px 2px;
    text-align: left;
    border: none;
}

#button-submit-register{
    width:100%;
    border: 1px solid #D1962A;
    color: #fff;
    background: #E59400;
    border-radius: 3px;
}

#button-submit-register:hover{
    border: 1px solid #E9A72F;
    color: #D1962A;
    background: #fff;
}



.checkbox-container{

    float:left;
    width:100%;
    display: flex;
    align-items: center;

}


#checkbox-registration{
    float: left;
    width:12%;
    position: relative;
}

.checkbox-container label{
    font-size: 14px;
}


.form-container{
    width:100%;
}

.about-author{
    text-decoration: none;
    color:#fff;
}

.footer{
    padding-top:20px;
    text-align: center;
    font-size: 20px;
    height:40px;
    background-color: #323334;

}




/*-----------------------------------------Login----------------------------------------*/


.login {
    margin:0 auto;
    width: 600px;
    height:420px;
    padding-bottom: 20px;
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:5px 5px 5px #999;
}

.login label {
    display: block;
    font: 16px 'Roboto Condensed', sans-serif;
    padding: 4px 0.25em;
}

.login input {
    width: 100%;
    height: 40px;
    padding: 4px 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #2F98D4;
    border-radius: 2px;
    background-color:#fff;


}

.login input:hover {
    color: #2F98D4;
}

.login input:focus {
    outline: none;
}

.login p {
    text-align: center;
    font: 14px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgba(24,141,208,0.8);

}
#button-submit-login{
    text-align: center;
    margin-top: 15px;
    width:500px;
    border: 1px solid #32AD32;
    color: #fff;
    background: #009900;
    border-radius: 3px;
    font-size: 18px;


}

#button-submit-login:hover{
    border: 1px solid #32AD32;
    color: #32AD32;
    background: #fff;

}

#cont{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
}

#checkbox-rememberme{
    float: left;
    width:20px;
    height:20px;
    margin-right: 10px;
    position: relative;
}

#checkbox-registration{
    float: left;
    width:20px;
    height:20px;
    margin-right: 10px;
    position: relative;
}
.forgot-password{

    text-decoration: none;
    color:black;
    padding-left:5px;
}

.forgot-password:hover{
    color: #0000EE;
}


/*----------------------Ostalo------------------------------*/
.input-alert{
    border: 1px solid red !important;
    /*B33A3A*/
}

.alert-text{
    padding:0;
    margin:0;
    color:red !important;
}

.rememberme-text{
    font-size:10px;
    color:red;
}

#forgot-container{
    margin-top:4px;
    margin-bottom: 4px;
}


#user-print{
    background-color:#fff;
}

/*-------------------------------TABLE -------------------------------------------------------------------*/

table{
    widh:100%;
    border-collapse: collapse;
}



.users-table th{
    background-color: #415E6C;
    color: white;
    font-weight: bold;
}

.users-table tr:nth-child(even){
    background-color: #f2f2f2
}

.users-table th,td{
    padding: 15px;
    border: 1px solid #ccc; 
    text-align: left; 
}
.table-tittle{
    background-color: #415E6C;
    color: white;
    text-align: center;
    font-weight: bold;
}


.button-unlock{
    margin-top:15px;
    background-color: #009900;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/*-------------------------------------------Time-------------------------------------------------------------------*/


.time-settings{
    margin:0 auto;
    width: 400px;
    height:200px;
    padding-bottom: 20px;
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:5px 5px 5px #999;

}

.time-settings label {
    display: block;
    font: 16px 'Roboto Condensed', sans-serif;
    padding: 4px 0.25em;
}

.time-settings input {
    width: 100%;
    height: 40px;
    padding: 4px 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #2F98D4;
    border-radius: 2px;
    background-color:#fff;


}

.time-settings input:hover {
    color: #2F98D4;
}

.time-settings input:focus {
    outline: none;
}

.time-settings p {
    text-align: center;
    font: 14px 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgba(24,141,208,0.8);

}

#button-submit-time{
    text-align: center;
    margin-top: 15px;
    width:100%;
    border: 1px solid #415E6C;
    color: #fff;
    background: #415E6C;
    border-radius: 3px;
    font-size: 18px;


}

#button-submit-time:hover{
    border: 1px solid #415E6C;
    color: #415E6C;
    background: #fff;

}



/*Small*/
@media screen and (max-width:400px){
    body{
        font-size:14px;
    }

    .button-login{
        display:none !important;

    }
    .button-signin{
        display:none !important;

    }

    .button-logout{
        display:none !important;
    }


    #expand-collpase-button{
        position:relative;
        top:3px;
        width: 30px;

    }

    .nav-title{
        font-size:18px;
    }

    nav li {
        border-bottom: 0.5px solid #fff;
    }

    nav li:last-child{
        border-bottom:none;
    }

    #expand-collpase-button{
        display:inline-block;
    }

    #expand-collapse-picture{
        width:15px; 
        height:15px;
    }

    .notification{
        margin:0 auto;
        width: 100%;
        height:50%;

    }

    .text-notification{
        font-size:18px;
        text-align: center;
    }


    .login {
        margin:0 auto;
        width: 100%;
        height: 100%;
        background-color: #fff;

    }

    #button-submit-login{
        margin-top: 15px;
        width:100%;
        font-size: 16px;
    }

    #checkbox-rememberme{ 
        width:15px;
        height:15px;
    }

    #checkbox-registration{ 
        width:15px;
        height:15px;
    }

    .login label {
        font-size:14px;
    }

    .registration {
        margin:0 auto;
        width: 100%;
        height: 100%;
    }
    .registration label{
        font-size:14px;
    }

    .time-settings {
        margin:0 auto;
        width: 100%;
        height: 100%;
        background-color: #fff;

    }

    .time-settings label {
        font-size:14px;
    }
    .button-login-mobile{
        display:inline;
        border-radius: 0;
        font-size:14px;
        float:left;
        padding:5px;
        margin:0;width:50%;
    }

    .button-signin-mobile{
        display:inline;
        border-radius: 0;
        font-size:14px;
        margin:0;
        padding:5px;
        width:50%;
    }

    .button-logout-mobile{
        display:inline;
        border-radius: 0;
        font-size:14px;
        margin:0;
        padding:5px;
        width:100%;
    }

    .footer{
        height:30px;
        padding-top:15px;
        text-align: center;
        font-size: 15px
    }

}
/*Medium Small*/
@media screen and (min-width:400px) and (max-width: 700px){
    body{
        font-size:16px;
    }

    .button-login{
        display:none !important;
    }
    .button-signin{
        display:none !important;
    }

    .button-logout{
        display:none !important;
    }

    .nav-title{
        font-size:22px;
    }

    nav li {
        border-bottom: 0.5px solid #fff;
    }

    nav li:last-child{
        border-bottom:none;
    }


    .login {
        margin:0 auto;
        width: 400px;
        height: 100%;
        background-color: #fff;

    }

    .registration{
        margin: 0 auto;
        width:100%;
        height: 100%;
    }
    .registration label{
        font-size:15px;
    }



    #button-submit-login{
        margin-top: 15px;
        width:100%;
        font-size: 16px;
    }

    #checkbox-rememberme{   
        width:16px;
        height:16px;

    }

    #checkbox-registration{ 
        width:16px;
        height:16px;
    }
    .login label {
        font-size:15px;
    }

    .notification{
        margin:0 auto;
        width:100%;
        height:50%;

    }

    .time-settings {
        margin:0 auto;
        width: 400px;
        height: 100%;
        background-color: #fff;

    }
    .time-settings label {
        font-size:15px;
    }

    .button-login-mobile{
        display:inline ;
        border-radius: 0;
        float:left;
        padding:5px;
        font-size:15px;
        margin:0;
        width:50%;
    }

    .button-signin-mobile{
        display:inline ;
        border-radius: 0;
        margin:0;
        padding:5px;
        font-size:15px;
        width:50%;
    }

    .button-logout-mobile{
        display:inline ;
        border-radius: 0;
        float:left;
        padding:5px;
        font-size:15px;
        margin:0;
        width:100%;
    }
}
/*Medium*/
@media screen and (min-width: 700px) and (max-width: 870px)  {

    body{
        font-size:18px;
    }
    .nav-title{
        font-size:25px;
    }
    nav li {
        width: 150px;
        border-bottom: none;
        height: 40px;
        line-height: 40px;
        font-size: 1.4em;
        float: left;
    }


    #nav-list-items {
        overflow: auto;
        width: 100%;
        margin: 0 auto;
        display:inline;

    }
    .nav-container {
        background-color: #415E6C;
        width:100%;
        height:40px;
    }

    .nav-links{
        float:left;
        padding-left:0px;
    }
    .nav-button-wrapper{
        margin-right:10px;
        float:right;
        background-color:#415E6C;
        height: 100%;

    }

    .nav-button-wrapper button{
        font-size: 10px;
        position:relative;
        top:8%;
        width: 70px;
        height: 45px;
        margin-left:10px;

    }


    .nav-container{
        border-bottom: 1px solid #415E6C;
    }
    #expand-collpase-button{
        display:none;
    }

    .login {
        margin:0 auto;
        width: 500px;
        height: 100%;
        background-color: #fff;

    }



    #button-submit-login{
        margin-top: 15px;
        width:100%;
        font-size: 16px;
    }

    #checkbox-rememberme{   
        width:17px;
        height:17px;
    }

    #checkbox-rememberme{   
        width:17px;
        height:17px;

    }


    .login label {
        font-size:16px;
    }

    .registration label {
        font-size:16px;
    }

    .notification{
        margin:0 auto;
        width: 500px;
        height:300px;

    }

    .time-settings {
        margin:0 auto;
        width: 500px;
        height: 100%;
        background-color: #fff;

    }

    .time-settings label {
        font-size:16px;
    }
    .button-login-mobile{
        display:none !important;
    }

    .button-signin-mobile{
        display:none !important;
    }

    .button-logout-mobile{
        display:none !important;
    }
}

/*Largest*/
@media screen and (min-width: 870px) {

    body{
        font-size: 18px;
    }
    nav li {
        width: 200px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    nav li {
        float: left;
        padding-bottom:1px #415E6C;
    }

    #nav-list-items{
        overflow: auto;
        width: 100%;
        margin: 0 auto;
        display:inline;
    }

    .nav-container {
        background-color: #415E6C;
        width:100%;
        height:50px;
    }

    .nav-links{
        float:left;
        padding-left:20px;
    }
    .nav-button-wrapper{
        margin-right:10px;
        float:right;
        background-color:#415E6C;
        height: 100%;

    }

    .nav-button-wrapper button{
        position:relative;
        top:15%;
        width: 90px;
        height: 50px;
        margin-left:10px;
    }


    .nav-container{
        border-bottom: 1px solid #415E6C;
    }
    #expand-collpase-button{
        display:none;
    }

    .notification{
        margin:0 auto;
        width: 700px;
        height:400px;

    }

    .button-login-mobile{
        display:none !important;
    }

    .button-signin-mobile{
        display:none !important;
    }

    .button-logout-mobile{
        display:none !important;
    }
}
@media screen and (min-height: 550px) {



}

@media screen and (min-height: 300px) and (max-height: 550px) {



    #registration-container{ 
        position:relative;
        top:150px;
    }


    #footer-login{
        position:relative;
        top:50px;
    }

    #footer-registration{
        position:relative;
        top:300px;
    }
}

@media screen and (max-height: 300px) {

    #registration-container{ 

        position:relative;
        top:200px;

    }

    #footer-login{
        position:relative;
        margin-top:100px;
    }

    .notification{
        position:relative;
        top:100px;
    }

}



/*
Turning table into two column list
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

        Force table to not be like tables anymore 
        table, thead, tbody, th, td, tr { 
                display: block; 
        }
        
         Hide table headers (but not display: none;, for accessibility) 
        thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
                Behave  like a "row" 
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 50%; 
        }
        
        td:before { 
                Now like a table header 
                position: absolute;
                Top/left values mimic padding
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
        }
        
        
        td:nth-of-type(1):before { content: "Username"; }
        td:nth-of-type(2):before { content: "Last Name"; }
        td:nth-of-type(3):before { content: "First Name"; }
        td:nth-of-type(4):before { content: "Email"; }
        td:nth-of-type(5):before { content: "Password"; }
        td:nth-of-type(6):before { content: "User type"; }

}*/



